#_modal{display: none;position:absolute;left: 0;right: 0;top: 0;bottom: 0;background:rgba(0,0,0,.5);z-index:12;}
#_modal ._msg{position: absolute;;margin:auto;width:40rem;height:24rem;background: #ffffff;left: 0;right: 0;top: 0;bottom: 0;}

#_modal ._msg .reg{padding:28px  0 0 26px;border-bottom:3px solid #626262;font:20px/45px "";}
#_modal ._msg .reg span{width:86px;height:42px;background:#eeeeed;display:inline-block;text-align: center;font:14px/42px "";color:#000;cursor:pointer}
#_modal ._msg .reg .close{margin-left:320px;background:#c2c2c2;}
#_modal ._msg .reg span:nth-child(1){background: #646464;color:#fff}
#_modal ._msg .shur{padding:20px 0 50px 18px;}
#_modal ._msg .shur input{margin-bottom: 20px;width:370px;height:40px;margin-left:50px}
#_modal ._msg button{margin-left:200px;height: 45px;width: 100px;background:#fb530f;border:none;border-radius:10%}
#_modal ._msg .tipmsg{background:rgb(207, 207, 33);margin:100px 0 10px 230px;font:700 15px/25px "";} 

