.margin{margin: 0 auto;width:1200px}


 
#top{height:28px;background:#f2f2f2;font:11px/28px "";}
#top .left{float:left}
#top .left ul{display:flex;width:244px;}
#top .left ul li{margin:0 5px}
#top .left ul li a img{height:9px; width:11px;margin-top:1px}
#top .right{float:right}
#top .right ul{display:flex;width:585px}
#top .right ul li{margin:0 8px}
#top .right ul li a:hover{color:red}
#top .right .li{display:flex;text-align: center}
#top .right .wei{position:relative;margin:0;padding:0 8px}
#top .right .wei img{display:none}
#top .right .wei img{position: absolute;top:28px;left:0x}
#top .right ul li:hover img.t{display:block;z-index: 1;}
#top .right ul li.wei:hover{background:#fff}
#top .right ul li.hui{text-align: center;position: static;width:50px;font:12px/28px "";}
#top .right ul li.hui p{font:12px/28px "";}
#top .right ul li div{position: absolute}
#top .right ul li div p{border:1px solid #eaeaea;width:50px;height:22px;border-top:none;display:none;background:#fff}
#top .right ul li.hui:hover{background:#fff;display: block}
#top .right ul li.hui:hover div p{display: block}
#top .right ul li.hui div p:hover{background:#f2f2f2;}


header{height:100px;}
header .hl{display:flex;}
header .middle{margin-left:204px;margin-top:22px}
header .middle .inpt{position:relative}
header .middle .inpt input{width:444px;height:26px;float:left;border:2px solid #339933;padding:4px 25px;outline: none}
header .middle .inpt button{width:100px;height: 38px;float:left;border:2px solid #339933;background: #339933;outline: none}


header .middle .inpt .search-res{position:absolute;top:38px;left: 0;width: 494px;border: 1px solid #b6b6b6;border-top:0;background:#fff;z-index:4;}
.search-res li{list-style-type: none;line-height: 20px;padding: 2px 5px;border-bottom:1px solid #0f0f0f;font:12px/20px "";}
header .middle .key a{display:block;margin:0px 10px 0 0;float:left;font:12px/34px "";color:333333}
header .middle .key a:hover{color:red}
header .rt{width:140px;height:38px;background:f9f9f9;;margin:22px 12px 0 40px;text-align: center;border:1px solid #dfdfdf}
header .rt span{line-height:38px;cursor:pointer;}
header .rt span i{margin:0 2px}

nav .clear{overflow:visible;height: 36px;}
nav .clear div p{width: 200px;height: 36px;background:#339933;text-align:center;}
nav .clear .pp>p>i{float:left;background:url(../images/t1.gif)no-repeat center;display:inline-block;width:12px;height:10px;margin:13px 15px;margin-left:15px }
nav .clear div>p a{font:700 16px/36px "";float:left;color: #fff}
nav .clear .pp p:hover .ii i{display: block;}

nav .clear .pp .hov:hover .ibox{display: block}
nav .clear div i.ibox{background:#99cc00;width:200px;position:relative;padding:0px 0 0 10px;display:block;width:190px;height:63px;z-index: 5;border-bottom:1px solid #aedb20;display:none}
/* nav .clear .pp{position:relative} */
nav .clear .pp ul.al{position:absolute;left:200px;top:0;z-index:11;width:500px;background:#eee;height:150px;padding:20px 0 10px 30px;display:none}
nav .clear .pp ul.al li{margin:10px;display:flex;text-align:center;}
nav .clear .pp ul.al li i{display:block;width:90px;height:30px;background:#c2c2c2;margin:0 15px;font:14px/30px "";}

nav .clear div i h3{padding-top:16px;color: #fff}
nav .clear{display:flex}
nav .clear div i span{font:12px/22px "";color: #fff}
nav .clear div i:hover{background:#7e7c7c}
nav .clear>div~a{font:700 15px/36px "";color: #000;padding:0 18px;height:36px;position: relative;}
nav .clear>div~a:hover{color:#339933;}
/* nav .clear>pp>i ul{position: absolute;left:200px;}  */


nav .clear>div~a .nn{position: absolute;background:url(../images/n.png) no-repeat ;border-radius: 50%;width:12px;height:12px;right:-6px;}
nav .clear>div~a .hh{position: absolute;background:url(../images/h.png) no-repeat ;border-radius: 50%;width:12px;height:12px;right:-6px;}



#details{ width:1200px; margin: 0 auto;overflow: hidden;margin-top:20px;padding-top:50px; padding-bottom: 30px;border-top:1px solid #ccc;position: relative;height:600px;border-bottom:2px solid #999}
#details .datu{width:250px;border: 1px solid #dbdbdb;position:absolute;left:80px}
#details .datu span{width:50px;height:35px;background:rgba(225,225, 225, .6);#8a8a8a;position:absolute;display:none}
#details .datu img{border:0;width:250px;height:250px;}
#details .big{width:250px;height:250px;position: absolute;top:50px;right:550px;background: #c2c2c2;overflow: hidden;}
#details .big img{width:1000px;height:1000px;display: none;position:absolute}
#details .guige{width:520px;position:absolute;left:80px;top:340px}
#details .guige h1{font-size: 16px;font-family: "微软雅黑";color: #494949;}

#details .guige .jiage{color: #999; margin-top: 5px;position: relative;padding: 5px 0 20px 10px;background: #f1f1f1;margin-left: -10px;width:400px}
#details .guige .jiage p{}
#details .guige .jiage p .money{font-size: 16px;font-weight: bold;color:#d51938;}
#details .guige .jiage p .jg{    font-weight: bold;
    font-size: 21px;
    margin: 0px 0px 0px -3px;color:#d51938;}



#details .guige .cont{margin: 10px 0; color: #707070;}
#details .guige .cont .xuanze{width: 240px;float: left; margin-right: 30px;}
#details .guige .cont .xuanze .laxian{float: left;color:#575757;
  font:700 14px/32px "";color:#666666;}
#details .guige .cont .xuanze .xz{ color:#666666;display: inline;float: left;position: relative;width: 170px}
#details .guige .cont .xuanze .xz select{border: 1px solid #c9c9c9;padding: 5px;}


#details .guige .cont .shuliang{width:180px;float: left;}
#details .guige .cont .shuliang .slname{float:left;color: #575757;line-height: 26px;}
#details .guige .cont .shuliang .zengjian{width: 120px;float: left;display: inline;}
#details .guige .cont .shuliang .zengjian .jianshao{    border: 1px solid #dbdbdb; color: #8a8a8a; width: 22px;height: 26px;
line-height: 26px;float: left;text-align: center;cursor: pointer;
display: inline-block;text-decoration: none;}
#details .guige .cont .shuliang .zengjian .zengjia{    border: 1px solid #dbdbdb; color: #8a8a8a; width: 22px;
height: 26px;line-height: 26px;float: left;text-align: center;
cursor: pointer;display: inline-block; text-decoration: none;}
#details .guige .cont .shuliang .zengjian #num{    border-color: #dbdbdb; border-style: solid;border-width: 1px; background-color: #ffffff; width: 50px; height: 26px;
float: left;text-align: center;display: inline-block;margin: 0 5px;}

#details .guige .goumai{height: 40px; float: left;margin-top: 30px;overflow: hidden;}
#details .guige .goumai #incar{margin-right: 25px; display: inline-block;float: left; cursor: pointer;}
#details .guige .goumai #buynow{margin-right: 25px;display: inline-block;float: left;cursor: pointer;}
#footerbg{border-bottom:1px solid #e7e7e7} 
#footerbg .foota{float:left;margin:25px 50px 20px 18px;
font:12px/28px "";color:#333333;}
#footerbg .foota .userdefine a{font:700 14px/48px "";color:#333;}
/*777 #footerbg .footb{float:left;margin:10px 40px} */

.foorbg{padding-top:20px}
